{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.username}} ruokakomero</h1>
{% else %}
<h1>Ruokakomero</h1>
{% endif %}


<p>
    <a href="{{base_path}}/food/new" class="btn btn-success">Lisää raaka-aine</a>
</p>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Raaka-aine</th>
            <th>Määrä</th>
            <th>Tilanne</th>
            <th>Muokattu viimeksi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for food in foods %}
        <tr>
            <td><a href="{{base_path}}/food/{{food.id}}">{{food.name}}</td>
            <td>{{food.volume}} {{food.unit}}</td>
            <td>
                {% if food.volume == 0 %}
                <label class="label label-danger">loppunut</label>
                {% elseif food.volume > 0 and food.volume < 2 %}
                <label class="label label-warning">vähissä</label>
                {% else %}
                <label class="label label-success">riittävästi</label>
                {% endif %}
            </td>
            <td>{{food.updated}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/food/{{food.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}