{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% import "macros/forms.html" as forms %}

<h1>Raaka-aineen "{{food.name}}" tiedot</h1>
<i>{{food.description}}</i>

<p>
    {{forms.destroy_button("#{base_path}/food/#{food.id}/destroy")}}
    <a href="{{base_path}}/food/{{food.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Määrä: </strong>{{food.volume}} {{food.unit}}</li>
    <li><strong>Tilanne: </strong>
        {% if food.volume == 0 %}
        <label class="label label-danger">loppunut</label>
        {% elseif food.volume > 0 and food.volume < 2 %}
        <label class="label label-warning">vähissä</label>
        {% else %}
        <label class="label label-success">riittävästi</label>
        {% endif %}
    </li>
    <li><strong>Lisätty: </strong>{{food.added}}</li>
    <li><strong>Muokattu viimeksi: </strong>{{food.updated}}</li>
    <li><strong>Lisääjä: </strong>{{food.chef_id}}</li>
</ul>

{% endblock %}
