{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tuotetta Rasvaton maito</h1>

<form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Rasvaton maito">
    </div>
    
    <div class="form-group">
      <label>Määrä</label>
      <input type="text" class="form-control" value="5">
    </div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    kilogrammaa (kg)
  </label>
</div>
    
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    litraa (l)
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    kappaletta (kpl)
  </label>
</div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>

{% endblock %}
