{% extends "base.html" %}
{% block content %}
<h1>Ruokakomero</h1>

<p>
    <a href="#" class="btn btn-success">Lisää raaka-aine</a>
    <a href="#" class="btn btn-success">Lisää ostoksia</a>
</p>

    <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Hae raaka-ainetta">
  </div>
  <button type="submit" class="btn btn-default">Hae</button>
</form>
    

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Raaka-aine</th>
            <th>Määrä</th>
            <th>Muokattu viimeksi</th>
            <th>Tilanne</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td><a href="#">Rasvaton maito</a></td>
            <td>5 l</td>
            <td>9.12.2014</td>
            <td><label class="label label-success">riittävästi</label></td>
            <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
        </tr>
        
        <tr>
            <td><a href="#">Kaurahiutale</a></td>
            <td>0,5 kpl</td>
            <td>12.2.2013</td>
            <td><label class="label label-warning">vähissä</label></td>
            <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
        </tr>
        
        <tr>
            <td><a href="#">Kurkku</a></td>
            <td>0 kg</td>
            <td>5.1.2011</td>
            <td><label class="label label-danger">loppunut</label></td>
            <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
