{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä Makaronilaatikko</h1>


<div class="form-group">
    <label>Nimi</label>
    <input type="text" class="form-control" value="Makaronilaatikko">
</div>

<div>
    <label>Raaka-aineet</label>
</div>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="pippuria">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="suolaa">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="1">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="sipuli">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="juustoraastetta">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="0,2">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="jauhelihaa">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="0,15">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="makaronia">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="2">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="kananmunaa">
    </div>

</form>

<form class="form-inline">

    <div class="form-group">
        <input type="text" class="form-control" value="0,3">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            kg
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
            l
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            kpl
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            ei yksikköä
        </label>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" value="maitoa">
    </div>

</form>

<div class="form-group">
    <button type="submit" class="btn btn-success">Lisää uusi rivi</button>
</div>

<div class="form-group">
    <label>Ohjeet</label>
    <textarea class="form-control" rows="10">
Pistä makaronit kiehumaan valmiiksi kiehuvaan veteen. Katso keittoaika pussista. 
Pilko sipuli pieniksi palasiksi.
Lämmitä pannu kuumaksi, pistä hieman rypsiöljyä lämmittelemään pannulle ja sipulit perään.
Kun sipulit ovat hieman ruskistuneet, kippaa jauhelihat pannuun niiden kaveriksi.
Sekoittele jauhelihaa niin, että se hajoaa osiin ja ruskettuu
Sekoita joukkoon sopivaksi katsomasi määrä pippuria. Pari ruokalusikallista on aika jees.
Pistä lopuksi vielä sekaan hieman suolaa.
Kaada lopulta valmis jauheliha-sipuliläjä n. 5-8 senttiä syvään lasivuokaan (matalampikin käy kunhan se on vastaavasti laajempi).
Kun makaronit ovat kiehuneet tarpeeksi, sekoita ne jauhelihojen sekaan vuokaan. Varo roiskimasta kaikkia aineksia seinille kulhosta sekoittaessasi.
Ota lasi ja riko sinne 2 kananmunaa. Sekoita lopuksi jollakin (esim. haarukalla) kananmunat täysin tasaväriseksi liejuksi.
Kaiva jostain tyhjä (puhdas) maitotölkki ja kippaa kananmunavelli sinne.
Kaada munien sekaan 3 desilitraa maitoa esim. desimitan avulla.
Purista sormilla lujasti tölkki kiinni ja ravista kovaa niin, että kananmuna ja maito sekovat täysin keskenään.
Kaada lieju vuokaan niin, että neste ylettyy makaroni-jauhelihan pinnan tasalle.
Ripottele päälle juustoraastetta, jos haluat
Paista n. 30-45 minuuttia 200-asteisessa uunissa ilman vuoan kantta. Tarkkaile viimeistään 30 minuutin jälkeen ruoan väriä. Jos tuotos on ruskettunut lähinnä pinnalta, mutta pohja on aivan nestemäisen valkoinen, käännä uuni alalämmölle ja paistele niin kauan, että myös vuoan pohjapuolella alkaa näkyä väriä.
Mätä naamaan ketsupin kanssa, niin on aika älyttömän hyvää. 
    </textarea>
</div>

<div class="form-group">
    <label>Reseptin lähde</label>
    <input type="url" class="form-control" value="http://www.kotikokki.net/reseptit/nayta/137/Makaronilaatikko/">
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Tallenna</button>
</div>

{% endblock %}
