{% extends "base.html" %}
{% block content %}

<!-- {% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %} -->

<h1>Joka Kodin Ruokapalvelun kokkailijat</h1>

<p>
    <a href="{{base_path}}/signup" class="btn btn-success">Lisää käyttäjä</a>
</p>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Käyttäjänimi</th>
            <th>Salasana</th>
            <th>Onko ylläpitäjä</th>
            <th>Käyttäjä lisätty</th>
            <th>Muokattu viimeksi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for chef in chefs %}
        <tr>
            <td><a href="{{base_path}}/chef/{{chef.id}}">{{chef.username}}</td>
            <td>{{chef.password}}</td>
            {% if chef.is_admin %}
            <td>on</td>
            {% else %}
            <td>ei</td>
            {% endif %}
            <td>{{chef.added}}</td>
            <td>{{chef.updated}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/chef/{{chef.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
