{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä "{{attributes.name}}"</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/recipe/{{attributes.id}}/edit">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label class="control-label">Kuvaus</label>
        <input type="text" name="description" class="form-control" value="{{attributes.description}}">
    </div>

    <div class="form-group">
        <label class="control-label">Annoskoko</label>
        <input type="number" name="portions" class="form-control" value="{{attributes.portions}}">
    </div>

    <div>
        <label>Raaka-aineet</label>
    </div>

    <!--    <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="pippuria">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="suolaa">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="1">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="sipuli">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="juustoraastetta">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="0,2">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="jauhelihaa">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="0,15">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="makaronia">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="2">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="kananmunaa">
            </div>
    
        </form>
    
        <form class="form-inline">
    
            <div class="form-group">
                <input type="text" class="form-control" value="0,3">
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    kg
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                    l
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    kpl
                </label>
            </div>
    
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                    ei yksikköä
                </label>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" value="maitoa">
            </div>
    
        </form>-->

    <!--    <div class="form-group">
            <button type="submit" class="btn btn-success">Lisää uusi rivi</button>
        </div>-->

    <div class="form-group">
        <label class="control-label">Ohjeet</label>
        <textarea name="instructions" class="form-control" rows="10">
        {{attributes.instructions}}
        </textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Reseptin lähde</label>
        <input type="text" name="source" class="form-control" value="{{attributes.source}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
