{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% import "macros/forms.html" as forms %}
<h1>Reseptin {{recipe.name}} tiedot</h1>
<i>{{recipe.description}}</i>

<p>
    {{forms.destroy_button("#{base_path}/recipe/#{recipe.id}/destroy", "resepti")}}
</p>

<p><strong>Annoskoko: </strong>{{recipe.portions}}</p>
<p><strong>Lisääjä: </strong><a href="{{base_path}}/chef/{{chef.id}}">
        {{chef.username}}</a></p>
<p><strong>Reseptin lähde: </strong>{{recipe.source}}</p>
<p><strong>Lisätty: </strong>{{recipe.added}}</p>
<p><strong>Muokattu viimeksi: </strong>{{recipe.updated}}</p>


<h3>Raaka-aineet</h3>

<dl class="dl-horizontal">
    {% for food in foods %}
    <dt>{{food.volume}} {{food.unit}}</dt>
    <dd>{{food.name}} </dd>
    {% endfor %}
</dl>

<h3>Ohjeet</h3>

<p>
    {{recipe.instructions|nl2br}}
</p>



{% endblock %}
